@page
@model WebPaymentPortal.Pages.Shared.ThankYouModel
@{
    ViewData["Title"] = "Thank You";
}

<div class="text-center">
    <p>Thank you for your payment.</p>
   
   
    <p>Click here to go to <a asp-page="login">login</a> page</p>
    
</div>