@page
@model IndexModel
@{
    ViewData["Title"] = "Pay your Invoice Online";
}

<div class="text-center">
    <table>
        <tr>
            <td>
                <h1 class="display-6">Welcome to Online Invoicing Portal</h1>
            </td>
        </tr>
        <tr>
            <td>
                <h2 class="display-6">Please <a asp-page="Shared/login">login</a>  to access your invoice</h2>
            </td>
        </tr>
    </table>

  
</div>


